/* In the mockup, I use web font 'raleway'*/
@font-face {
    font-family: 'Raleway-regular', sans-serif;
    font-family: 'Raleway-SemiBold', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Raleway&display=swap);
}
/*mobile view start from here*/
* {
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;
    position: relative;
    min-height: 100vh;
}

.main {
    width: 90vw;
    margin: 0 auto;
    padding: 30px 20px;
}

.navbar {
    background-color: #457B9D;
}

.navbar-nav {
    color: #ffffff;
    font-size: 30px;
}

.navbar-brand {
    max-width: 100px;
}

.navbar-nav .navbar-brand:hover {
    color: #707070;
    background-color: transparent;
}
/* End of navbar*/

/* slideshow css start here*/
.carousel-inner {
    width: 100%;
    margin: auto;
}

/*slideshow css end here*/
.about h1 {
    margin-top: 10px;
    font-size: 30px;
}

.about h3 {
    font-size: 20px;
    margin-top: 20px;
}

.about p {
    font-size: 14px;
    line-height: 30px;
    font-family: 'raleway-regular', sans-serif;
}

.button {
    background-color: #Ed2424;
    border: solid 1px #Ed2424;
    text-align: center;
    font-family: 'Raleway-semiBold', sans-serif;
    color: #ffffff;
    font-size: 16px;
    border-radius: 5px;
    padding: 3px 48px;
}
/* photography sample button css to match the mockup*/
.sample {
    background-color: #Ed2424;
    font-family:'raleway-semiBold', sans-serif;
    font-size: 28px;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
}

.feed {
    max-width: 100%;
    margin-top: 10px;
}

.butterfly {
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.deer {
    max-width: 100%;
    margin-bottom: 10px;
}

.sunset {
    max-width: 100%;
    margin-top: 10px;
}

.cow {
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.boy {
    max-width: 100%;
    margin-bottom: 10px;
}

.bird {
    max-width: 100%;
    margin-bottom: 10px;
}
/* There is a transition in the portfolio mockup page,
I using relative postion to match*/
.wrapper {
    position: relative;
    margin: 0;
    background: rgba(0,0,0,0.5s);
    opacity: 0.3;   
}

.flower {
    width: 100%;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}
/*I give margin 50px to match the mockup*/
video {
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn {
    position: absolute;
    transform: translate(50%, 50%);
    top: 50%;
    right: 50%;
} 

.p1 {
    position: absolute;
    top: 30%;
    left: 20%;
    text-align: center;
    font-family: 'Raleway' sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.p2 {
    position: absolute;
    top: 20%;
    right: 40%;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.p3 {
    font-size: 20px;
    color: #Ed2424;
    text-align: center;
    font-family: 'Raleway-SemiBold', sans-serif;
    margin-top: 10px;
    font-size: 2rem;
}

.contact-form {
    margin: auto;
}

input[type="text"] ,input[type="phone"] , input[type="email"], textarea {
    width: 100%;
    padding: 20px;
    border: 2px solid #457B9D;
    font-size: 12px;
    font-family: 'Raleway-SemiBold', sans-serif;
    color: #707070;
    margin-top: 10px;
}

.button-submit {
    border: 2px solid #707070;
    background-color: #707070;
    margin: 20px;
    color: white;
    padding: 10px ;
    font-size: 14px;
    font-family: 'Raleway-regular', sans-serif;
}

.architecture {
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.social {
    display: grid;
    grid-template-columns: repeat(3,0.5fr);
    justify-items: center;
    margin-top: 20px;
}

.copyright {
    margin-top: 20px;
}

/* i am using view height to set the footer at bottom of the page*/
.footer {
    background-color:  #457B9D;
    text-align: center;
    padding: 20px;
    bottom: 0;
}

@media (min-width:768px) {
    body{
        background-color: #ffffff;
        font-family: 'Raleway', sans-serif;
        position: relative;
        padding-bottom: 100px;
        min-height: 100vh;
    }
    video {
    width: 100%;
   }

   .p3 {
       text-align: center;
       margin-top: 10px;
       margin-left: 100px;
       font-size: 2rem;
   }

   .sample {
       margin-top: 10px;
   }

   .contact-form {
       margin-left: 20px;
   }
  
    input[type="text"] ,input[type="phone"] , input[type="email"], textarea {
        width: 200%;
    }

   /* i am using view height to set the footer at bottom of the page*/
    .footer {
        background-color:  #457B9D;
        text-align: center;
        padding: 20px;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

@media (min-width:960px) {
    .button {
        margin-left: 400px;
    }

    .contact-form {
        margin-left: -50px;
    }
   
     input[type="text"] ,input[type="phone"] , input[type="email"], textarea {
         width: 200%;
     }

   .architecture {
    margin: auto auto;
    margin-top: 30px;
    }

}