
@font-face {
    font-family: 'montserrat',sans-serif;
    src: url(https://fonts.google.com/specimen/Montserrat?query=montserrat);
}


/*the moblie view */
* {
    box-sizing: border-box;
}


body {
    background-color: #f7f7ff;
}

main{
    margin: 1rem;
    margin-bottom: 1px;
}

.header-logo {
    max-width: 100px;
    margin: 0;
}

h2 {
    font-family: 'montserrat-light', sans-serif;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}

section, footer {
    padding: 20px;
    display: block;
}

h1 {
    font-family: 'montserrat-black', sans-serif;
    font-size: 2rem;
}

p  {
    font-family: 'montserrat-light', sans-serif;
    font-size: 1rem;
}

.scooter {
    width: 60%;
    margin-left: auto;
    margin-left: auto;
}

.container {
    max-width: 500px;
    height: auto;
    margin-top: 1rem;
    background-color: white;
    box-shadow:  10px 10px 5px grey;
    border-radius: 25px;
    text-align: center;  
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

input[type=text] {
    width: 70%;
    font-family: 'montserrat-light', sans-serif;
    background-color: #eeeeee;
    padding: 12px 16px;
    line-height: 2rem;
    border:  1px solid #eeeeee; 
    border-radius: 10px;
    margin: 5px 0;
}

.checkbox {
    width: 3px;
    height: 3px;
    border-radius: 25px;
}

 .greenbuttom {
    text-align: center;
    font-family: 'montserrat-light', sans-serif;
    font-weight: bold;
    margin-top: 2rem;
    line-height: 3rem;
    background-color: #57eeab;
    border: none;
    border-radius: 15px;
}

#hours {
    width: 25%;
    line-height: 2rem;
}

#city {
   width: 70%;
}

button {
    flex-basis: auto;
    display: inline-block;
    background-color: #ff8480;
    font-size: 2rem; font-family: 'montserrat-light', sans-serif;
    color:#f7f7ff;
    border: none;
    border-radius: 5px;
    font-family: 'montserrat-light', sans-serif;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top: 2rem;

}

.container a {
    display: inline-block;
    color: #ff8480;
    font-family: 'montserrat-light', sans-serif;
    border: none;
    border-radius: 10rem;
    font-family: 'montserrat-light', sans-serif;
    font-weight: bold;
}

.calculator-form {
    display: flex;
    flex-wrap: wrap;
    flex-grow: -1;
}

.socialmedia {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    width: 100%;
}

.footer {
    background-color: #fffd8c;
}

/*the tablet view*/
@media (max-width: 500px) {
    .scooter {
        max-width: 40%;
    }
    .calculator-form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .calculator-form {
        flex-wrap: nowrap;
        flex-direction: row;
    }
}

@media (max-width: 1100px) {
    .section {
        display: flex;

    }


}
