<<<<<<< HEAD
@font-face {
    font-family: montserrat-black;
    font-family: montserrat-light;
}


/*the moblie view */
* {
    box-sizing: border-box;
}


body {
    background-color: #f7f7ff;
}

main{
    margin: 1rem;
    margin-bottom: 0;
}

.header {
    max-width: 100%;
    margin: 0 auto;
}

.header-logo {
    max-width: 120px;   
}

section {
    padding: 10px;
    display: block;
}

h2 {
    font-family: 'montserrat-light', sans-serif;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}

p  {
    font-family: 'montserrat-light', sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
}

.scooter {
    width: 70%;
    margin-left: auto;
    margin-left: auto;
}

.container {
    max-width: 500px;
    height: auto;
    margin-top: 1rem;
    text-align: center;  
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 10px 10px 5px grey;
    border-radius: 25px;
    background-color: white;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: auto auto;
}

input[type=text] {
    max-width: 100%;
    font-family: 'montserrat-light', sans-serif;
    background-color: #eeeeee;
    padding: 12px 16px;
    line-height: 2rem;
    border:  1px solid #eeeeee; 
    border-radius: 10px;
    margin: 5px 0;
}

.checkbox {
    cursor: pointer;
    width: 3px;
    height: 3px;
    border-radius: 25px;
}

 .greenbuttom {
    width: 100%;
    text-align: center;
    font-family: 'montserrat-light', sans-serif;
    font-weight: bold;
    margin-top: 1rem;
    line-height: 3rem;
    background-color: #57eeab;
    border: none;
    border-radius: 15px;
}

p {
    display: inline-block;
    margin: 10px;
    font-family: 'montserrat-light', sans-serif;
    font-size: 1rem;
}

.application {
    margin-right: 20px;
    font-family: 'montserrat-light', sans-serif;
    color: #ff8480;
    font-weight: bold;
}

#hours {
    width: 25%;
    line-height: 2rem;
}

#city {
   width: 70%;
}

button {
    display: flex;
    flex-basis: 100%;
    line-height: 3rem;
    background-color: #ff8480;
    font-size: 2rem; 
    font-family: 'montserrat-light', sans-serif;
    border-radius: 5px;
    font-weight: bold;
    color:#f7f7ff;
    border: none;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.calculator-form {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.socialmedia {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.footer {
    background-color: #fffd8c;
}


/*the tablet view*/
@media (max-width: 500px) {
    button {
        flex-basis: 50%;
    }
    
    .calculator-form {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .calculator-form {
        flex-wrap: nowrap;
        flex-direction: row;
    }
}

/*the web view*/
@media (min-width: 1100px) {
    .scooter {
        display: none;
    }

    body {
        background-image: url(../images/bg-image/scooter.svg);
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: center 130px;
    }

    .logo {
        width: 80px;
    }

    section {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 800px;
    }

    .form {
        max-width: 100%;
    }

    #hours, #city{
        font-size: 1rem;
        line-height: 1.5rem;
        max-width: 40%;
    }

    .footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 2rem;
        padding-left: 2rem;
    }

    .socialmedia {
        justify-self: flex-end;
    }


}
=======
@font-face {
    font-family: montserrat-black;
    font-family: montserrat-light;
}


/*the moblie view */
* {
    box-sizing: border-box;
}


body {
    background-color: #f7f7ff;
}

main{
    margin: auto auto;
}

.header {
    max-width: 100%;
    margin: 0 auto;
}

.header-logo {
    max-width: 120px;   
}

section {
    padding: 10px;
    display: block;
}

h2 {
    font-family: 'montserrat-light', sans-serif;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}

p  {
    font-family: 'montserrat-light', sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
}

.scooter {
    width: 70%;
    margin-left: auto;
    margin-left: auto;
}

.container {
    max-width: 500px;
    height: auto;
    margin-top: 1rem;
    text-align: center;  
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 10px 10px 5px grey;
    border-radius: 25px;
    background-color: white;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: auto auto;
    margin-left: 2rem;
    margin-right: 2rem;
}

input[type=text] {
    width: 70%;
    font-family: 'montserrat-light', sans-serif;
    background-color: #eeeeee;
    padding: 12px 16px;
    line-height: 2rem;
    border:  1px solid #eeeeee; 
    border-radius: 10px;
    margin: 5px 0;
}

.checkbox {
    cursor: pointer;
    width: 3px;
    height: 3px;
    border-radius: 25px;
}

 .greenbuttom {
    text-align: center;
    font-family: 'montserrat-light', sans-serif;
    font-weight: bold;
    margin-top: 2rem;
    line-height: 3rem;
    background-color: #57eeab;
    border: none;
    border-radius: 15px;
}

#hours {
    width: 25%;
    line-height: 2rem;
}

#city {
   width: 70%;
}

button {
    flex-basis: 100%;
    display: inline-block;
    background-color: #ff8480;
    font-size: 2rem; 
    font-family: 'montserrat-light', sans-serif;
    border-radius: 5px;
    font-weight: bold;
    color:#f7f7ff;
    border: none;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.container a {
    display: inline-block;
    color: #ff8480;
    font-family: 'montserrat-light', sans-serif;
    border: none;
    border-radius: 10rem;
    font-family: 'montserrat-light', sans-serif;
    font-weight: bold;
    text-align: center;
}

.calculator-form {
    display: flex;
    flex-wrap: wrap;
    flex-grow: -1;
}

.socialmedia {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    width: 100%;
}

.footer {
    background-color: #fffd8c;
}


/*the tablet view*/
@media (max-width: 500px) {
    .calculator-form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .calculator-form {
        flex-wrap: nowrap;
        flex-direction: row;
    }
}

/*the web view*/
@media (min-width: 1100px) {
    .scooter {
        display: none;
    }

    body {
        background-image: url(../images/bg-image/scooter.svg);
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: center 130px;
    }

    .logo {
        width: 80px;
    }

    section {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 800px;
    }

    .form {
        max-width: 100%;
    }

    #hours, #city{
        font-size: 1rem;
        line-height: 1.5rem;
        max-width: 40%;
    }

    .footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 2rem;
        padding-left: 2rem;
    }

    .socialmedia {
        justify-self: flex-end;
    }
}

