@font-face {
    font-family: montserrat-black;
    font-family: montserrate-bold;
}


/*main section*/
* {
    box-sizing: border-box;
}


body {
    font-family: Montserrat;  
    display: flex;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    background-color: #f7f7ff;
    justify-content: center;
}

.header-logo {
    height: 50px;
    margin: 0px 70px;
}

section, footer {
    flex-grow: 1;
    padding: 20px;
}

.scooter {
    width: 50%;
}

.container {
    width: 300px;
    height: 495px;
    background-color: white;
    box-shadow:  10px 10px 5px grey;
    border-radius: 25px;
    text-align: center;  
}

input[type=text] {
    width: 80%;
    padding: 12px 16px;
    border:  1px solid #333131; 
    margin: 10px 0;
}

.checkbox {
    display: flex;
}

button {
    background-color: #ff8480;
}

.box {
    display: flex;
    
}

#hours {
    width: auto;
    flex-grow: 1/2;
}

#city {
    display: inline-block;
    width: auto;
    flex-grow: 1;
}

.calculator-form {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.socialmedia {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.footer {
    background-color: #fffd8c;
    
}


@media (max-width: 500px) {
    .calculator-form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;

    }
}

@media (max-width: 1100px) {
    .section {
        display: flex;

    }


}