/*mobile view*/
@font-face {
    font-family: 'Raleway', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Raleway&display=swap);
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: 'Raleway', sans-serif;
}
/* I set the padding 20px to match the mockup white space padding*/
main {
    margin: 0;
    margin-bottom: 0;
}

.nav {
    border: 1px solid #707070;
    padding-bottom: 10px;
    background-color:#3c3b3a;
}

nav ul {
    list-style-type: none;
    font-size: 1.5rem;
    line-height: 2rem;
}

nav ul a {
    display: inline-block;
    text-align: center;
    font-family: 'raleway', sans-serif;
    text-decoration: none;
    color: #f2f2f2;
}

nav a:hover {
    color: #f2f2f2;
}

.logo {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon1 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
/*button started*/
.started {
    border: 1px;
    border-radius: 30px;
    width: 300px;
    height: 50px; 
    box-shadow:5px 10px 18px #124a3a;
    background-color: #26A682;
    color: #f2f2f2;
    margin-top: 5px;
    margin-left: auto;

}

.section {
    display: inline-block;
}
/*the mockup discover image max-width is 350*/
.discover {
    max-width: 300px;
    margin-top: 2rem;
    margin-bottom: 30px;
}

.icon1 {
   display: grid;
   grid-template-rows: repeat(2,1fr);
}

.icon1 figcaption {
    color: #36a682;
}

section .algonquin {
    background-color: #f2f2f2;
}

/* I use the padding for the discover your ARC to match the mockup because I don't want 
change the whole container padding*/
h1 {
    margin: 20px;
    font-family: 'Raleway-regular', sans-serif;
    font-weight: lighter;
}

.p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9,
.p10, .p11, .p12, .p13, .p14 {
    font-family: 'Raleway-regular' sans-serif ;
    line-height: 2rem;
    margin-left: 20px;
    margin-right: 20px;
    text-align: start;
}

h2 {
    color: #26a682;
    margin-left: 20px;
    font-size: 20px;
    font-family: 'Raleway-bold Italic', sans-serif;
}

/* buttom learn more */
.learnmore {
    display: block;
    border: 1px;
    border-radius: 30px;
    width: 146px;
    height: 45px; 
    box-shadow:5px 10px 18px #124a3a;
    background-color: #26A682;
    color: #f2f2f2;
    margin-left: auto;

}

.banner {
    padding: 20px;
    background-color: #3c3b3a;
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    color: #f2f2f2; 
    text-align: center;
}

.subscribe {
    display: block;
    border: 0;
    border-radius: 30px;
    width: 140px;
    height: 35px; 
    background-color: #26A682;
    font-size: 1rem;
    color: #f2f2f2;
    margin-left: auto;
    margin-right: auto; 
}

.banner img {
    border-radius: 30rem;
    display: block;
    max-width: 175px;
}

.enterainment {
    width: 100px;
}

/*four section need change background color*/
.expect,.break,.newyear,.special {
    background-color: #ffffff;
}

.construction {
    max-width: 300px;
    margin-top: 1rem;
    margin-left: 30px;
    margin-bottom: 20px;
}

/*absolute text on these two class*/
.content {
    position: absolute;
    text-align: center;
    transform: translate(50%, 50%);
    color: #f2f2f2;
    font-size: x-large;
}
/*opacity over these two images*/ 
.picture1 .picture2 {
   position: absolute;
   background-color: rgb(38 166 130 100);
}
/*those image in the mobile view doesn't show up*/
 .picture3, .picture4,.picture5,.picture6 {
     display: none;
 }

 /*four icons from the special class, responsive for three different size*/
 .icons2 {
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-gap: 2px;
 }

 .sa {
    width: 301px;
    height: 87px;
    margin-right: auto;
    margin-left: auto;
 }

 .ac {
     width: 202px;
     height: 168px;
     margin-right: auto;
     margin-left: auto;
 }

 .pcl {
     width: 220px;
     height: 154px;
     margin-right: auto;
     margin-left: auto;
 }

 .cibc {
     width: 152px;
     height: 138px;
     margin-right: auto;
     margin-left: auto;
 }

 .contact-img {
     width: 302px;
     margin-left: 20px;
     margin-right: 20px;
 }

 .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: 546px;
    width: 304px;
    border: 0;
    border-radius: 30px;
    padding: 20px 60px;
    line-height: 2rem;
    box-shadow:5px 10px 18px #124a3a;
    background-color: #26A682;
    color: #f2f2f2;   
}   

input[type=text], textarea {
    display: block;
    margin-right:auto;
    margin-left: auto;
    border-radius: 10px;
    padding: 12px 20px;
}

input[type=message] {
    width: 275px;
    height: 100px;
    border-radius: 10px;
}

input[type=submit] {
    border-radius: 10px;
    background-color: #707070;
    color: #f2f2f2;
    font-size: 1rem; 
    padding: 10px 70px;
    margin-top: 20px;
}

h3 {
    margin: 20px;
    font-size: 1rem;
    font-family: 'Raleway-regular', sans-serif;
}

footer {
    background-color: #3c3B3A;
    padding: 0px;
    color: #f2f2f2;
    text-align: center;
}

.socialmedia {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.backtotop {
    max-width: 100%;
}
/*I start my breakpoint start at 600px for the tablet*/
@media (min-width: 600px) {
    main {

    }

    section {
        width: 768px;
    }

    .nav ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .icons1 {
        grid-template-columns: repeat(1,1fr);
    }

    .picture3, .picture4,.picture5,.picture6 {
        display: grid; 
        grid-row: 2fr;
    }

    .break,.bowling,.newyear,.attivity {
        display: grid;
    }

    .picture3:nth-child(1) {
        
    }
}

@media (min-width: 1200px) {
    .discover1 {
        display: none;
        background-image: url('images/discover.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }

    .icons2 {
        display: grid;
        grid-gap: 2px;
        grid-template-areas: 
        "three one two four";
     }
    
     .sa {
        grid-area: one;
        width: 435px;
        height: 125px;
        margin-right: auto;
        margin-left: auto;
     }
    
     .ac {
         grid-area: two;
         width: 202px;
         height: 168px;
         margin-right: auto;
         margin-left: auto;
     }
    
     .pcl {
         grid-area: three;
         width: 220px;
         height: 154px;
         margin-right: auto;
         margin-left: auto;
     }
    
     .cibc {
         grid-area: four;
         width: 152px;
         height: 138px;
         margin-right: auto;
         margin-left: auto;
     }
}
