/*mobile view*/
@font-face {
    font-family: 'Raleway', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Raleway&display=swap);
}

* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff;
}
/* I set the padding 20px to match the mockup white space padding*/
main {
    margin: 0;
    margin-bottom: 0;
}

section {
    margin-left: auto;
    margin-right: auto;
    border: 0;
}

.nav {
    border: 1px solid #707070;
    background-color:#3c3b3a;
}

nav ul {
    list-style-type: none;
    font-size: 1.5rem;
    line-height: 2rem;
}

nav ul a {
    display: block;
    text-align: center;
    font-family: 'raleway', sans-serif;
    text-decoration: none;
    color: #f2f2f2;
}

nav a:hover {
    color: #f2f2f2;
}

.logo {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon1 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border: 0;
}
/*button started in the home page*/
.started {
    border: 0;
    border-radius: 30px;
    width: 300px;
    height: 50px; 
    box-shadow:5px 10px 18px #124a3a;
    background-color: #26A682;
    color: #f2f2f2;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 30px;
}

/*the mockup discover image max-width is 350*/
.discover1 {
   max-width: 350px;
   margin-top: 20px;
   margin-bottom: 20px;
}

.icon1 {
   display: grid;
   grid-template-rows: repeat(2,1fr);
}

.icon1 figcaption {
    color: #36a682;
}

/*font for all the text*/
h1 {
    margin: 20px;
    font-family: 'Raleway-bold', sans-serif;
    font-size: 40px;
    color: #3C3B3A;
    margin-left: 20px;

}

.special h1 {
    margin-left:20px;
    margin-right: 20px;
    font-size: 56px;
    font-family: 'Raleway-bold', sans-serif;
    border: 0;
}

.simon-img h2 {
    font-family: 'Raleway-semiBold Italic', sans-serif;
    font-size: 24px;
    color: #f2f2f2;
}

h2 {
    font-family: 'Raleway-semiBold Italic', sans-serif;
    font-size: 32px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 0;
    color:#3C3B3A;   
}

h3 {
  font-family: 'Raleway-Regular',sans-serif;
  font-size: 24px;
  margin-left: 20px;
  margin-right: 20px;
  color: #26A682;
}

.p1,.p3, .p5, .p13,.p15 {
    font-family: 'Raleway-regular',sans-serif ;
    font-size: 20px;
    line-height: 2rem;
    margin-left: 20px;
    margin-right: 20px;
    text-align: start;
    border: 0;
}

.p6, .p7,.p8 {
    font-family:'Raleway-regular', sans-serif;
    font-size: 16px;
     line-height: 2rem;
    margin-left: 20px;
    margin-right: 20px;
    border: 0;
}

.p2,.p4,.p9,.p10,.p11,.p12,.p14  {
    font-family: 'Raleway-light', sans-serif;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    border: 0;
}

footer h3 {
    color: #f2f2f2;
}

/* buttom learn more in the home page*/
.learnmore {
    display: block;
    border: 1px;
    border-radius: 30px;
    width: 146px;
    height: 45px; 
    box-shadow:5px 10px 18px #124a3a;
    background-color: #26A682;
    color: #f2f2f2;
    margin-left: auto;
    margin-bottom: 20px;
}

.banner {
    padding: 20px;
    background-color: #3c3b3a;
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    color: #f2f2f2; 
    text-align: center;
}

/*subscribe buttom in the about page*/
.subscribe {
    display: block;
    border: 0;
    border-radius: 30px;
    width: 140px;
    height: 35px; 
    background-color: #26A682;
    font-size: 1rem;
    color: #f2f2f2;
    margin-left: auto;
    margin-right: auto; 
}

.simon-img {
    border-radius: 30rem;
    display: block;
    max-width: 175px;
    margin-right: auto;
    margin-left: auto;
}


/*those image in the mobile view doesn't show up*/
.picture3, .picture4,.picture5,.picture6 {
    display: none;
}

.enterainment {
    width: 100px;
}

/*absolute text on these two class*/
.content {
    position: absolute;
    display: block;
    text-align: center;
    color: #f2f2f2;
    font-size: 50px;
}
/*opacity over these two images with transition ease-in*/ 
.picture1 > .box1 {
    background-color: #26a682;
    width: 375px;
    height: 200px;
    position: absolute;
    transition: ease-in-out 0.2s;
    opacity: 0.5;
}

.picture2 > .box2 {
    background-color: #26a682;
    width: 375px;
    height: 200px;
    position: absolute;
    transition: ease-in-out 0.2s;
    opacity: 0.5;
}

.construction {
    max-width: 300px;
    margin-top: 1rem;
    margin-left: 30px;
    margin-bottom: 20px;
}

.wrapper, .bowling, .attivity {
    background-color: #f2f2f2;
}

/*four icons from the special class, responsive for three different size*/
.icons2 {
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-gap: 2px;
 }

 .sa {
    width: 301px;
    height: 87px;
    margin-right: auto;
    margin-left: auto;
 }

 .ac {
     width: 202px;
     height: 168px;
     margin-right: auto;
     margin-left: auto;
 }

 .pcl {
     width: 220px;
     height: 154px;
     margin-right: auto;
     margin-left: auto;
 }

 .cibc {
     width: 152px;
     height: 138px;
     margin-right: auto;
     margin-left: auto;
 }

 .contact-img {
    width: 302px;
    margin-left: 20px;
    margin-right: 20px;
}

 .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: 546px;
    width: 304px;
    border: 0;
    border-radius: 30px;
    padding: 20px 60px;
    line-height: 2rem;
    box-shadow:5px 10px 18px #124a3a;
    background-color: #26A682;
    color: #f2f2f2;   
}   

input[type=text], textarea {
    display: block;
    margin-right:auto;
    margin-left: auto;
    border-radius: 10px;
    padding: 12px 20px;
}

input[type=message] {
    width: 275px;
    height: 100px;
    border-radius: 10px;
}

input[type=submit] {
    border-radius: 10px;
    background-color: #707070;
    color: #f2f2f2;
    font-size: 1rem; 
    padding: 10px 70px;
    margin-top: 20px;
}

.map {
    border: 0;
}

footer {
    background-color: #3c3B3A;
    padding: 0;
    color: #f2f2f2;
    text-align: center;
}

.socialmedia {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.backtotop {
    max-width: 100%;
}

@media (min-width: 600px) {
    nav {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    nav ul {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .icon1 {
        grid-template-columns: repeat(4,0.2fr);
        grid-template-rows: none;
    }

    .discover {
        display: grid;
        grid-template-rows: repeat(2,1fr);
    }

    .discover1 {
        margin-left: auto;
        margin-right: auto;
    }

    .started {
        display: grid;
        justify-content: center;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    
    .banner { 
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .p3 {
        border: 0;
        margin-left: 20px;
        margin-right: 20px;
    }
     
    .simon {
        display: grid;
        grid-template-columns:repeat(2,1fr);
    }

    .picture1 > .box1 {
        background-color: #26a682;
        width: 768px;
        height: 200px;
        position: absolute;
        transition: ease-in-out 0.2s;
        opacity: 0.5;
    }
    
    .picture2 > .box2 {
        background-color: #26a682;
        width: 768px;
        height: 200px;
        position: absolute;
        transition: ease-in-out 0.2s;
        opacity: 0.5;
    }

    .picture3, .picture4,.picture5,.picture6 {
        display: block;
    }
    
   
    .break, .newyear {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .break .picture3:nth-child(1){
        order: 1;
    }

    .attivity .picture6:nth-child(1){
        order: 1;
    }
 
    .bowling, .attivity {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    
    .bowling div:nth-child(2){
        order: 1;
    }


}

/*disktop view start from here*/
@media (min-width: 1200px) {
    .discover {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: none;
    }

    .discover1 {
        max-width: 950px;
    }

    .contactform {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        border: 0;
        margin-top: 50px;
        margin-left: 30px;
    }

    .location {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-top: 50px;
        border: 0;
        margin-left: 30px;
        margin-right: 50px;
    }
    
    .expect {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        border: 0;
        margin-right: 30px;
        margin-left: 30px;
    }

    .picture1 > .box1 {
        background-color: #26a682;
        width: 1920px;
        height: 250px;
        position: absolute;
        transition: ease-in 0.2s;
        opacity: 0.5;
    }
    
    .picture2 > .box2 {
        background-color: #26a682;
        width: 1920px;
        height: 250px;
        position: absolute;
        transition: ease-in 0.2s;
        opacity: 0.5;
    }

    .algonquin, .entertainment{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    /*wrapper section to grid the text*/
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .icons2 {
        display: grid;
        grid-gap: 2px;
        grid-template-areas: 
        "three one two four";
     }
    
     .sa {
        grid-area: one;
        width: 435px;
        height: 125px;
        margin-right: auto;
        margin-left: auto;
     }
    
     .ac {
         grid-area: two;
         width: 202px;
         height: 168px;
         margin-right: auto;
         margin-left: auto;
     }
    
     .pcl {
         grid-area: three;
         width: 220px;
         height: 154px;
         margin-right: auto;
         margin-left: auto;
     }
    
     .cibc {
         grid-area: four;
         width: 152px;
         height: 138px;
         margin-right: auto;
         margin-left: auto;
     }
    

}