/*mobile view*/
@font-face {
    font-family: 'Raleway', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Raleway&display=swap);
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: 'Raleway', sans-serif;
}

main {
    margin: 1rem;
    margin-bottom: 0;
}

nav {
    background-color: #3c3b3a;
}

nav ul {
    margin: 0;
    list-style-type: none;
    width: 400px;
    height: 100%;
    overflow: auto;
    font-size: 1.5rem;
    line-height: 3rem;
}

nav ul a {
    display: block;
    color: #f2f2f2;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    color: #f2f2f2;
}

.logo {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.p1 {
    font-family: 'Raleway-regular' sans-serif ;
    line-height: 2rem;
}

.icon1 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.started {
    border-radius: 3rem;
    border-style: hidden;
    border: 3px solid #124A3A;
    background-color: #26A682;
    color: #f2f2f2;
}

.discover {
    width: 300px;
}

.container {
    box-sizing: border-box;
    border: 0;
}

.algonquin {
    background-color: #f2f2f2;

}

.banner {
    background-color: #3c3b3a;
    border: 4px solid #124A3A;
    font-family: 'Raleway', sans-serif;
    color: #f2f2f2; 
    text-align: center;
}

.p3 {
    text-align: justify;
    margin-left: 2rem;
    margin-right: 2rem;
    line-height: 2rem;
}

.banner img {
    border-radius: 30rem;
    display: block;
    max-width: 175px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.enterainment {
    width: 100px;
}
/*I start my breakpoint start at 500px for the tablet*/
@media (max-width: 700px) {
    
}
